/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.toast-container {
    pointer-events: none;
    /* position: fixed; */
    z-index: 999999;
}
.toast-top-right {
    left: 500px;
    
}